{% extends "base.html" %}

{% block content %}
    <main>
        <div>
            <h1>{{ show_project }}</h1>
            <p>{{ show_project.description }}</p>
            <h2>Tasks</h2>
            <p>
                <a href="{% url 'create_task' %}">Create a new task</a>
            </p>
            {% if show_project %}
                <table>
                    <thead>
                        <tr>
                            <th>Name</th>
                            <th>Assignee</th>
                            <th>Start date</th>
                            <th>Due date</th>
                            <th>Is completed</th>
                        </tr>
                    </thead>
                    <tbody>
                        {% for items in show_project %}
                            <tr>
                                <td>{{ items.name }}</td>
                                <td>{{ items.assignee }}</td>
                                <td>{{ items.start_date }}</td>
                                <td>{{ items.due_date }}</td>
                                <td>{{ items.is_completed|yesno:"yeah,no,maybe" }}</td>
                            </tr>
                        {% endfor %}
                    </tbody>
                </table>
            {% else %}
                <p>This project has no tasks</p>
            {% endif %}
        </div>
    </main>
{% endblock content %}
